*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* indica tamanho levará em conta até a borda*/
    cursor: url()
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url(mks.jpg); 
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    color: white;
}

.container {
    
    background-color: #5a677098;
    padding: 40px; 
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-left: 236px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
  font: 2.2em;
  margin-bottom: 10px;
}

.header p {
font-size: 1.1em;
}

.form-control {
    margin-bottom: 20px;
    position: relative;

}

.form-control label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.95em;
}

.form-control label i {
    color: #d7a31a;
    margin-right: 8px;
}

.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form-control input:focus,
.form-control textarea:focus{
    outline: none;
    border: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);

}

.form-control.success input,
.form-control.success textarea {
    border-color: #4caf50;
    background-color: #f8fff8;
}

.form-control.error input,
.form-control.error textarea {
    border-color: #f44336;
    background-color: #ccb7b7c4;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: -18px;
    left: 0;
    color: #f44336;
    font-size: 0.70em;

}
.form-control.error small{
    visibility: visible;
}

.form-button {
    width: 100%;
    padding: 15px;
    background-color: #d7a31a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-button:hover {
    transform:translateY(-2px);
    box-shadow: 0 10px 25px rgba(102,126,234,0.4);

}

.form-button:active{
    transform: translateY(0);
}
.successMessage{
    display: none;
    background-color: #d4edda;
    color: #155725;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #c3e6cb;
}

.successMessage.show{
    display: block;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 600px){
    .container{
        padding: 30px 20px;
        margin: 10px;
    }

    .header h1 {
        font-size: 1.8em;
    }
}