body{
    margin: 20px;
    background-color: #a18888;
}

#header-principal{
    background: linear-gradient(135deg, rgb(143, 102, 90)0%,rgba(237,221,83,1)100%);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
   
.card{
    padding: 20px;
    box-shadow: rgba(0,0,0,0.1);
    color: rgb(231, 231, 221);
}

footer {
    background-color: #413e3e;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem ;
}

@media (max-width: 768px){
    header {
        flex-direction: column;
        gap: 1rem;
        padding:1rem
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    main {
        padding: 2rem 1rem;
    }
}

