
#header-principal{
    background: linear-gradient(135deg, rgba(42,123,155,1)0%,rgba(237,221,83,1)100%);
    color: white;
    padding: 20px;
    text-align: center;
}
.botao{
    background-color: blue;
    color: aliceblue;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;

}

.botao:hover{
    background-color: brown;
    transform: scale(1.05);
}

.card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.1);
    max-width: 300px;
}

#header-principal.botao{
    background-color: rgba(255,255,255,0.2) ;
    color: #ffff;
    border: 2px solid white;
}